<h2>Edit Profile</h2>

<%= form_for @user do |f| %>
	
	<%= f.label :fname, value: "First Name: " %>
	<%= f.text_field :fname %><br>

	<%= f.label :lname, value: "Last Name: " %>
	<%= f.text_field :lname %><br>

	<%= f.label :address, value: "Address: " %>
	<%= f.text_field :address %><br>

	<%= f.label :email, value: "Email: " %>
	<%= f.text_field :email %><br>

	<%= f.label :password, value: "Password: " %>
	<%= f.password_field :password %><br>

	<%= f.submit "Save Changes" %>

<% end %>


<p><%= link_to "Delete My Profile", @user, method: :delete %></p>
