<h1>All of Our App's Users</h1>
<h2>This is a page only admins should be able to see</h2>

<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Email</th>
		<th>Password</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><a href="/users/<%= user.id %>"><%= user.fname %> <%= user.lname %></a></td>
			<td><%= user.address %></td>
			<td><%= user.email %></td>
			<td><%= user.password %></td>
		</tr>
	<% end %>

</table>