<h2><%= @user.fname %>'s Profile Page</h2>

<h3>My Orders</h3>

<h3>My Wishlist</h3>

<h3>My Info</h3>
	<ul>
		<li><%= @user.fname %> <%= @user.lname %></li>
		<li><%= @user.address %></li>
		<li><%= @user.email %></li>
	</ul>

<p><%= link_to "Edit Profile", edit_user_path %></p>




<!-- All three of these buttons/links fail: -->

<%= form_tag "/logout" do %>
  <%= submit_tag ("Log Out") %>
<% end %>
