<h2>My Cart</h2>

<table>
	<tr>
		<th>Item Name</th>
		<th>Picture</th>
		<th>Price</th>
		<th>Quantity</th>
		<th></th>
	</tr>
	<% @order.products.each do |product| %>
		<tr>
			<td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
			<td><img src="http://lorempixel.com/150/210/nature"></td>
			<td><%= product.price %></td>
			<td>1</td>
			<td>
				<%= form_tag "/remove_from_order/#{product.id}" do %>
				  <%= submit_tag ("Remove from Cart") %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

