<h2>My Wishlists</h2>


<% @wishlists.each do |wishlist| %>
	<div>
		<h3><a href="/wishlists/<%= wishlist.id %>"><%= wishlist.name %></a></h3>

		<% if @wishlist.products.length > 0 %>
			<% @wishlist.each do |product| %>
				<div>
					<h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
					<td><%= product.price %></td>
					<li><a>Add to Cart</a></li>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

