<h2>My Wishlist</h2>

<% @wishlist.products.each do |product| %>
	<div class="card">
		<h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
		<h4><%= product.price %></h4>
		<img src="http://lorempixel.com/150/210/nature">
	</div>
	<%= form_tag "/remove_from_wishlist/#{product.id}" do %>
	  <%= submit_tag ("Remove from Wishlist") %>
	<% end %>
<% end %>

