<h2>Create New Product</h2>

<%= form_for Product.new do |f| %>
	
	<%= f.label :name, value: "Name: " %>
	<%= f.text_field :name %><br>

	<%= f.label :price, value: "Price: " %>
	<%= f.text_field :price %><br>

	<%= f.label :number_avail, value: "Number Available: " %>
	<%= f.text_field :number_avail %><br>

	<%= f.submit %>

<% end %>
