<!DOCTYPE html>
<html>
  <head>
    <title>MiniShop</title>
    <%= csrf_meta_tags %>

    <%= image_tag 'profile_pic' %>
    <%= image_tag 'photo' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <div class="container">    
      <header>
        <h1><a href="/">Space Posters Shop</a></h1>
        <h2>for all the universe's children</h2>

        <div class="notice"><%= flash[:notice] if flash[:notice] %></div>
        <div class="alert"><%= flash[:alert] if flash[:alert] %></div>
        
          <% if current_user %>
            <div class="navigation">
              <nav>
                <ul>
                  <li><a href="/products">SHOP</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/help">Help</a></li>
                </ul>
                <ul>
                  <li><a href="/users/<%= current_user.id %>"><%= current_user.fname %>'s Profile</a></li>
                  <li><a href="/wishlists/<%= current_user.wishlist.id %>"><%= current_user.fname %>'s Wishlist</a></li>
                  <li><a><%= current_user.fname %>'s Order</a></li>
                  <li>
                    <%= form_tag "/logout" do %>
                      <%= submit_tag ("Log Out") %>
                    <% end %>
                  </li>
                </ul>
              </nav>
            </div>
          <% else %>
            <div class="navigation">
              <nav>
                <ul>
                  <li><a href="/products">SHOP</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/help">Help</a></li>
                  <li><a href="/login">Log In</a></li>
                </ul>
              </nav>
            </div>
          <% end %>
        </header>

      <%= yield %>
    </div>
  </body>
</html>
